<div class="header">
    <a href="/" title="Pandademo - Die Krone der Schöpfung">
        <img class="header__logo" src="../img/poldi.png"/>
    </a>
    <div class="header__title-wrapper">
        <h1 class="header__title">Pandademo</h1>
        <div class="header__claim">
            <img src="../img/claim.png"/>
        </div>
    </div>
    <div id="mobile-menu-button" class="header__mobile-menu-button"></div>

    {% include 'include/main-navigation.html.twig' %}

</div>
