<nav class="main-navigation">
    <ul class="main-navigation__list">
        <li class="main-navigation__item main-navigation__item--active">
            <a class="main-navigation__link" href="/" title="Zu den Pandabildern">Pandabilder</a>
            <ul class="main-navigation__sub-menu">
                <li class="main-navigation__sub-item">
                    <a class="main-navigation__sub-link" href="/fressende-pandas"
                       title="Zu den fressenden Pandas">Fressende Pandas</a>
                </li>
                <li class="main-navigation__sub-item">
                    <a class="sub-navigation__sub-link" href="/spielende-pandas"
                       title="Zu den spielenden Pandas">Spielende Pandas</a>
                </li>
                <li class="main-navigation__sub-item">
                    <a class="main-navigation__sub-link" href="/faule-pandas"
                       title="Zu den faulen Pandas">Faule Pandas</a>
                </li>
            </ul>
        </li>
        <li class="main-navigation__item">
            <a class="main-navigation__link" href="https://www.youtube.com/results?search_query=pandas"
               title="Zu den Pandavideos">Pandavideos</a>
        </li>
        <li class="main-navigation__item">
            <a class="main-navigation__link" href="https://giphy.com/search/panda"
               title="Zu der Pandagalerie">Pandagalerie</a>
        </li>
        <li class="main-navigation__item">
            <a class="main-navigation__link" href="https://www.google.de/search?q=panda" title="Zu Panda & Mehr">Panda
                & Mehr</a>
        </li>
    </ul>
</nav>
