
<nav id="mobile-menu" class="mobile-menu">
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item mobile-menu__item--active">
            <a class="mobile-menu__link" href="/" title="Hallo">Pandabilder</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/" title="Hallo">Pandavideos</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/" title="Hallo">Pandagalerie</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/" title="Hallo">Panda & Mehr</a>
        </li>
    </ul>
</nav>
