<div class="teaser-sidebar__single">
    <a class="teaser-sidebar__image" href="/" title="Hallo">
        <img src="../img/{{ teaser.file }}"/>
    </a>
    <div class="teaser-sidebar__content">
        <div class="teaser-sidebar__title">
            <a href="/" title="{{ teaser.title }}">
                {{ teaser.title }}
            </a>
        </div>
    </div>
</div>
