.clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

@mixin background-image($image) {
    background-image: url("../../img/#{$image}");
}

@mixin background($image) {
    @include background-image($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    color: transparent;
}

@mixin teaser-headline {
    font-weight: bold;
    font-size: $font-extra-large;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (max-width: $break-max-large) {
        color: $white;
    }
}
