.header {
    z-index: $z-high;
    box-shadow: 0 5px 5px 0 rgba(204, 204, 204, 0.7);
    padding: 20px 20px 0 20px;
    background-color: $white;

    @media screen and (max-width: $break-max-medium) {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        height: 40px;
        padding: 10px 0;
    }

    &__logo {
        width: 120px;
        float: left;

        @media screen and (max-width: $break-max-medium) {
            margin: 0 0 0 10px;
            width: 40px;
        }
    }

    &__title-wrapper {
        text-align: center;
        width: 400px;
        margin: auto;

        @media screen and (max-width: $break-max-medium) {
            width: 100px;
        }
    }

    &__title {
        color: $black;
        font-family: $font-family-special;
        font-size: 6rem;
        line-height: 6rem;
        display: inline-block;
        float: none;
        margin: 0;

        @media screen and (max-width: $break-max-medium) {
            font-size: $font-extra-large;
            line-height: 1.5rem;
            margin-top: 7px;
        }
    }

    &__claim {
        float: none;
        display: inline-block;
        position: relative;
        bottom: 5px;
        width: 150px;

        @media screen and (max-width: $break-max-medium) {
            display: none;
        }
    }

    &__mobile-menu-button {
        display: none;

        @media screen and (max-width: $break-max-medium) {
            display: block;
            @include background("icons/menu.svg");
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}

