/*
.detailed-view {
    width: 100vw;
    min-height: 100vh;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.detailed-header {
    height: 10vh;
    z-index: 11;
    position: fixed;
    background-color: $white;
    width: 100vw;
}

.detailed-content{
    position: absolute;
    top: 10.2vh;
}

.detailed-logo,
.detailed-image {
    position: absolute;
    top: 0;
    height: 10vh;
}

.detailed-logo {
    left: 2vw;
    top: 1vh;
    width: 50vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.detailed-image {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.date-address {
    background-color: $light-grey;
    padding: 0.5vh 0;
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 2.4vh;
    font-size: 1.8vh;
}

.detailed-date {
    position: absolute;
    left: 1vw;
}

.detailed-address {
    float: right;
    text-align: right;
    position: absolute;
    right: 1vw;
}

.detailed-headline {
    text-align: center;
    font-size: 3vh;
    line-height: 3.5vh;
    font-weight: 600;
    margin-top: 2vh;
}

.cancel,
.edit {
    bottom: 3vw;
    position: fixed;
    right: 2vw;
    width: 12vw;
}

.cancel {
    right: 44vw;
}

.full-address-and-time {
    background-color: $light-grey;
    width: 96vw;
    @extend .clearfix;
    padding: 2vw;
}

.title {
    padding-bottom: 1vh;
    font-size: 2.6vh;
    padding-top: 2vh;
    font-weight: 600;

    &:first-child {
        padding-top: 0;
    }
}

.description,
.more {
    padding-top: 2vh;

    .title,
    p {
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 0;
    }

    p {
        margin-top: 2vh;
        padding-left: 0;
    }

    a {
        &:visited,
        &:active,
        &:link {
            color: $light-blue;
            font-weight: 600;
            padding: 2vw;
        }

        &:hover {
            color: $blue;
            text-decoration: underline;
            font-weight: 600;
        }

        &:before {
            content: ' ';
            background-image: url("../../img/icons/link.svg");
            width: 4vw;
            height: 4vh;
            background-size: 4vw 4vh;
            display: inline-block;
            background-repeat: no-repeat;
            position: relative;
            top: 1.3vh;
            margin-right: 1vw;
        }
    }
}


*/
