/*
//login

.modal-view {
    width: 92vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: $black-transparent;
    padding: 4vw;
    font-size: 2.6vh;

    .inner-view {
        border-radius: 5px;
        background-color: $white;
        height: 91vh;
        padding: 3vw;
        text-align: center;
    }

    &.create-event-view {
        height: auto;
    }

    .headline {
        font-size: 4vh;
        line-height: 4vh;
        font-weight: 600;
        margin-top: 2vh;
    }

    .info-text {
        background-color: $light-grey;
        border-radius: 5px;
        padding: 2vh 3vw;
        margin-bottom: 3vh;
        text-align: left;
    }

    form {
        margin-top: 2vh;
    }

    label,
    input {
        float: left;
        width: 78vw;
    }

    label {
        margin-bottom: 1vh;
        text-align: left;
    }

    input {
        background-color: $very-light-grey;
        border: none;
        margin-bottom: 1vh;
    }

    #email {
        font-size: 3vh;
        line-height: 4vh;
        margin-bottom: 4vh;
        text-align: left;
    }

    .submit {
        width: 55vw;
        height: 6vh;
        float: none;
        display: inline-block;
        border-radius: 5px;
        background-color: $light-blue;
        color: $white;

        &:hover {
            background-color: $white;
            color: $light-blue;
            border: 1px solid $light-blue;
        }
    }

    .cancel {
        top: 5vw;
        right: 5vw;
        width: 10vw;
    }
}

.legend-box {
    clear: both;
    margin-bottom: 1vh;
    @extend .clearfix;

    .image,
    .text {
        float: left;
        display: block;
    }

    .image {
       width: 17vw;

        img {
            width: 100%;
        }
    }

    p {
        padding-top: 2.3vh;
    }
}
*/
